.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px;
    margin-top: 70px;
    margin-left: 100px;
    float: left
}


.box img {
    border-radius: 5%;
}


.box #pages {
    font-size: 25px;
    margin: auto;
    color: white;
    margin-top: -20px;
}




.box #reveal_input {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.modal-body #update_btn {
    margin-left: 57px;
    margin-top: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
