.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px;
    margin-top: 70px;
    margin-left: 100px;
    float: left
}

.box img {
    border-radius: 5%;
}

.box #reveal_input {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}


.modal-body #delete_btn {
    margin-left: 188px;
    margin-top: 20px;
}


.modal-body .input_group ul {
    margin: auto;
}

.modal-body .input_group ul li {
    text-align: center;
    color: white;
    background-color: #212328;

}

.modal-body .input_group ul #description {
    text-align: left;
}
