* {
    margin: 0;
    padding: 0
}

body {
    background-color: #212328
}

.card {
    display: flex;
    float: left;
    margin-top: 10px;
    width: 350px;
    background-color: #212328;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    border-style: double;
    margin: auto;
}

.name {
    font-size: 22px;
    font-weight: bold;
    color: white
}

.number {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: white
}


.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: black;
    font-weight: bold
}

.date {
    background-color: white;
}



.nav-link {
    margin-bottom: -10px;
    margin-top: 10px;
    color: white;

}

.nav-link:hover {
    color: green
}


.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 50px;
    float: left
}

.box p {
    color: white;
    font-size: 20px;
}
