body {
    background-color: #212328;
}



.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px;
    margin-top: 270px;
    margin-left: 720px;
    float: left
}

.box form p {
    text-align: center;
    background-color: #212328;
    color: white;
}

.box form p input {
    width: 500px;
    text-align: center;
    background-color: #212328;
    color: white;
}
