{%extends 'base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/main_page.css'%} ">
{%endblock%}
{%block content%}
<div id="image-list">
    {% include "mainapp/books_list.html" %}
</div>
<script>
    var page = 1;
    var emptyPage = false;
    var blockRequest = false;
    window.addEventListener('scroll', function (e) {
        var margin = document.body.clientHeight - window.innerHeight - 200;
        if (window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;
            fetch('?page=' + page)
                .then(response => response.text())
                .then(html => {
                    if (html === '') {
                        emptyPage = true;
                    }
                    else {
                        var imageList = document.getElementById('image-list');
                        imageList.insertAdjacentHTML('beforeEnd', html);
                        blockRequest = false;
                    }
                })
        }
    });
    // Запустить события прокрутки
    const scrollEvent = new Event('scroll');
    window.dispatchEvent(scrollEvent);
</script>
{%endblock%}
