{%extends 'base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/in_process.css'%} ">
{%endblock%}
{%block content%}
{%for el in result%}
<div class=box>
    <img src="{{el.book_image.url}}" alt="">.
    <p class="lead" id="pages">{{el.current_page}}/{{el.total_page}}</p>
    <input type="submit" class="btn btn-outline-light" value="Обновить" data-bs-toggle="modal" id="reveal_input"
        data-bs-target="#{{el.pk}}" data-bs-whatever="@getbootstrap" />
    <div class="modal fade" id="{{el.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1">{{el.book_name}}</h1>

                </div>
                <div class="modal-body">
                    <div class="input_group">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{el.pk}}" />
                            <input class="form-control" id=exampleFormControlInput type="number"
                                name="update_current_page" placeholder="{{el.current_page}}" max="{{el.total_page}}"
                                autocomplete="off" />
                            <button class="btn btn-outline-success" id="update_btn">Обновить</button>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{%endfor%}
{%endblock%}
