{%extends 'base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/profile_page.css'%} ">
{%endblock%}
{%block content%}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button> <img
                    src={{user.profile.avatar.url}} height="200" width="200" /></button> <span
                class="name mt-3">{{user.username}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{books}}
                    <span class="follow">books</span></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{pages}}
                    <span class="follow">pages</span></span> </div>
            <div class=" px-2 rounded mt-4 date ">
                <span class="join">Joined {{user.date_joined|date:'d D Y'}}</span>
            </div>
            <a href="{% url 'mainapp:copleated_book' %}" class="nav-link px-2 link-dark">На галвную</a>
            <a href="{%url 'password_change'%}" class="nav-link px-2 link-dark">Сменить пароль</a>
            <a href="{%url 'edit'%}" class="nav-link px-2 link-dark">Редактировать профиль</a>

        </div>
    </div>

<div class="box">
    {%for x in following_actions%}
    <p>
        {{x.user.username}} {{x.verb}}
        {%if x.verb == 'follow'%}
        {{x.target.username}}
        {%else%}
        {{x.target.book_name}}
        {%endif%}
    </p>
    {%endfor%}
</div>
</div>
{%endblock%}
