{%extends 'base.html'%}
{%load static%}
{%load thumbnail%}
{%block css%}
<link rel="stylesheet" href="{%static 'css/main_page.css'%}">
{%endblock%}
{%block content%}
{%for profile in profiles%}
<div class="box" id="box">
    <a href="{{profile.avatar.url}}">
        <img src="{%thumbnail profile.avatar 300x0%}" height="300" width="220">
    </a>
    <p>{{profile.user.username}}</p>
    <p id="followers{{profile.user.id}}">{{profile.user.followers.count}}</p>
    <p>Books: {{profile.user.books.count}}</p>
    {%with followers=profile.user.followers.all%}
    <input type="submit" data-id="{{profile.user.id}}" data-action="{%if request.user in followers%}un{%endif%}follow"
        class="btn btn-outline-light" value="{%if request.user in followers%}un{%endif%}follow" id="reveal_input"
        name="follow" />
    {%csrf_token%}
    {%endwith%}
</div>
{%endfor%}
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{%static 'js/follow.js'%}"></script>
{%endblock%}
