body {
    background-color: #212328;
}



.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px;
    margin-top: 70px;
    margin-left: 100px;
    float: left
}


.box img {
    border-radius: 5%;
}


.box #pages {
    font-size: 25px;
    margin: auto;
    color: white;
    margin-top: -20px;
}



.input_group {
    display: flex;
    margin: auto;
}

#logout {
    color: red;
}


#submit_btn {
    margin-left: 109px;
    margin-top: 20px;
}

.modal-content {
    background-color: #212328;
}


.modal-body .input_group #exampleFormControlInput {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    color: white;
    background-color: #212328;
}

.modal-body .input_group #exampleFormControlInput::placeholder {
    color: white
}

.modal-body .input_group #exampleFormControlTextarea1 {
    margin: auto;
    margin-top: 15px;
    color: white;
    background-color: #212328;
}

.modal-body .input_group #exampleFormControlTextarea1::placeholder {
    color: white
}



#send_file {
    color: white;
    background-color: #212328;
}

.modal-body .input_group form {
    margin: auto;
}

.modal-body .input_group ul {
    margin: auto;
}

.modal-body .input_group ul li {
    text-align: center;
    color: white;
    background-color: #212328;

}



.modal-body .input_group ul #description {
    text-align: left;
}

.modal-body .input_group #send_file {
    margin-right: 25px;
    margin-top: 15px
}

.modal-body #update_btn {
    margin-left: 57px;
    margin-top: 20px;
}


.modal-content .modal-header h1 {
    color: white;
    margin: auto
}

header .nav #logo_img {
    margin-left: 10px;
    margin-right: 50px
}

header .nav a {
    margin-top: 38px;
    color: white
}

header .nav a:hover {
    color: green
}


.box #reveal_input {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

header .nav #open_form {
    margin: auto;
    margin-left: 40px;
    margin-top: 38px;
    margin-right: 130px
}

header .nav h3 {
    font-size: 25px;
    color: white;
    margin: auto;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
