* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212328;

}



.box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px;
    margin-top: 70px;
    margin-left: 100px;
    float: left
}


.box_2 {

    display: flex;
    flex-direction: column;
    height: 350px;
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-left: 290px;
    float: left
}

.box img {
    border-radius: 5%;
}



.input_group {
    display: flex;
    margin: auto;
}


#submit_btn {
    margin-left: 109px;
    margin-top: 20px;
}

.modal-content {
    background-color: #212328;
}


.modal-body .input_group #exampleFormControlInput {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    color: white;
    background-color: #212328;
}

.modal-body .input_group #exampleFormControlInput::placeholder {
    color: white
}

.modal-body .input_group #exampleFormControlTextarea1 {
    margin: auto;
    margin-top: 15px;
    color: white;
    background-color: #212328;
}

header .nav a {
    margin-top: 38px;
    color: white
}

header .nav a:hover {
    color: green
}


.modal-body .input_group #exampleFormControlTextarea1::placeholder {
    color: white
}

#send_file {
    color: white;
    background-color: #212328;
}

.modal-body .input_group form {
    margin: auto;
}

.modal-body .input_group ul {
    margin: auto;
}

.modal-body .input_group ul li {
    text-align: center;
    color: white;
    background-color: #212328;

}

.modal-body .input_group ul #description {
    text-align: left;
}

.modal-body .input_group #send_file {
    margin-right: 25px;
    margin-top: 15px
}

.modal-body #delete_btn {
    margin-left: 188px;
    margin-top: 20px;
}


.modal-content .modal-header h1 {
    color: white;
    margin: auto
}

header .nav #logo_img {
    margin-right: 50px
}

.box #reveal_input {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

header .nav #open_form {
    margin: auto;
    margin-left: 40px;
    margin-top: 38px;
    margin-right: 130px
}

header .nav h3 {
    font-size: 25px;
    color: white;
    margin: auto;

}


#login {
    color: white;
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

#logout {
    color: red;
}


.box_2 h1 {
    font-size: 50px;
    margin-top: 300px;
    text-align: center;
    color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
