{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/edit.css'%}">
    <title>Document</title>
</head>

<body>
    {%if messages%}
    <ul>
        {%for message in messages%}
        <li>{{message|safe}}</li>
        <a href="#">Close</a>
        {%endfor%}
    </ul>
    {%endif%}
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{user_form.as_p}}
        <input type="submit">
    </form>
</body>

</html>
